<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <style>
        /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:  #e62bd0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e62bd0;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>
<body>
    <header style="display:flex;
    justify-content:space-evenly;
    padding-top: 50px;
    height:10vh;
    background-color: rgba(187, 185, 178, 0.984);">
        <div style="color:#fff;">
            <div>
                <img style="height:35px;margin-right:30px;border-radius: 12px 12px;" src="https://img.lovepik.com/free-png/20210927/lovepik-clock-icon-png-image_401551056_wh1200.png" style="color:black;">
            </div>
            <div>
                <div style="color:black;">Fermé</div>
            </div>
        </div>
    </a>
    <div style="margin-left: 80px;display:flex;justify-content:space-around;">
        <a href="#" style="color:rgb(3, 3, 3); padding-right: 30px;text-decoration: none;font-size: 20px;">Home</a>
        <a href="#"style="color:rgb(3, 3, 3);font-size: 20px;padding-right: 30px;  text-decoration: none;">Product</a>
        <a href="#"style="color:rgb(3, 3, 3);font-size: 20px;padding-right: 30px;  text-decoration: none;">Contact</a>
    </div>   
    <form class="example">
        <input type="text" placeholder="Search.." name="search">
       
      </form>
    </header>
    <div class="container">
        <form action="action_page.php">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>
</body>
</html>